
.filetree-ul {
	list-style-type: none;
	padding-left: 20px;
}

.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}

#phpide-buttonbar {
	margin-top: 20px;
}

.phpide-modal-centered {
	position: absolute;
	top: 10px;
	width: 100%;
	z-index: 1050;
}

.alert {
	width: 60%;
}

.phpide-prompt-text{
	width: 100%;
}

.filesinatree-selected {
	font-weight: bold;
}