<script type="text/ng-template" id="tree_subitems.html">
	<a ng-if="file.name.length > 0" href="#" ng-click="selectItem(file)">
		<span ng-if="file.type == 'file'" class="glyphicon glyphicon-file" aria-hidden="true"></span>
		<span ng-if="file.type == 'folder' && file.nodes.length == 0" class="glyphicon glyphicon-folder-close" aria-hidden="true"></span>
		<span ng-if="file.type == 'folder' && file.nodes.length > 0" class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
		&nbsp;
		<span>{{file.name}}</span>
	</a>
	<ul ng-if="file.nodes.length > 0" class="filetree-ul">
		<li ng-repeat="file in file.nodes" ng-include="'tree_subitems.html'"></li>
	</ul>
</script>

<div class="pruebaMia">
	<div ng-repeat="file in files">
		<div ng-include="'tree_subitems.html'"></div>
	</div>
</div>